<!-- order_list.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>

h2 {
   font-family: 'Times New Roman', Times, serif;
   color: #444;; 
   text-align: center;
   margin-top: 30px;
   margin-bottom: 20px;
   font-size: 4em;
         
   } 
   
   
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
   
</style>

<div class="center-content">

    <h2>Quantity</h2>
    <a href="{% url 'order_create' %}" class="btn btn-success" >Novo order</a>
    <table class="table table-striped table-hover" id="table">
        <thead>
            <tr>
                <th>Material</th>
                <th>Quantity</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.material }}</td>
                <td>{{ order.quantity }}</td>
                <td>                 
                    <div class="btn-group btn-group-row" role="group">
                        <a href="{% url 'order_detail' pk=order.pk %}" class="btn btn-sm btn-outline-primary">View</a>
                        <a href="{% url 'order_update' pk=order.pk %}" class="btn btn-sm btn-outline-info">Edit</a>
                        <form action="{% url 'order_delete' pk=order.pk %}" method="post" style="display:inline;" >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-danger" >Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="11">Nenhum order encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}